*{
    margin: 0;
    box-sizing:border-box;
    padding:0px;
    --colorone: #FFB0B0;
    --colortwo:#FFD09B;
    --colorthree:#FFECC8;
    --colorfour:#FFF7D1;
    --textcolor:#333;
}
/* nav start */
 .navbar-nav .nav-link {
     color:var(--textcolor);
     font-size: 16px;
     margin-right: 20px;
        font-family: "Sansita", sans-serif;
            font-weight: 400;
            font-style: normal;
 }

 .navbar-nav .nav-link:hover {

                background-color: var(--colorone);
                    color: white;
                    border-radius: 20px;
                    padding: 5px 20px;
 }

 .btn-custom {
        font-family: "Sansita", sans-serif;
            font-weight: 400;
            font-style: normal;
     background-color:var(--colorone);
     color: white;
     border-radius: 20px;
     padding: 5px 20px;
 }

 .btn-custom:hover {
     background-color:#e8a0a0;
 }
 .navbar-toggler{
    background-color: var(--colorone);
    border: none;
 }
 /* nav end */

/* check out style */
.container {
    max-width: 960px;
  }
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  .btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
  }

  .bd-mode-toggle {
    z-index: 1500;
  }

  .bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
  }

/* checkout */
.form-check-input:checked{
    background-color:var(--colorone)!important;
    border-color:var(--colorone) !important;
}

.bg-custom{
  background-color: var(--colorone);
  color: white !important;
}












 /* footer start */
 /* font styles */
 .sansita-regular {
     font-family: "Sansita", sans-serif;
     font-weight: 400;
     font-style: normal;
     color:var(--colorone);
 }

 .sansita-bold {
     font-family: "Sansita", sans-serif;
     font-weight: 700;
     font-style: normal;
     color:var(--colorone);
 }

 .sansita-extrabold {
     font-family: "Sansita", sans-serif;
     font-weight: 800;
     font-style: normal;
 }

 .sansita-black {
     font-family: "Sansita", sans-serif;
     font-weight: 900;
     font-style: normal;
 }

 .sansita-regular-italic {
     font-family: "Sansita", sans-serif;
     font-weight: 400;
     font-style: italic;
     color:var(--colorone);
 }

 .sansita-bold-italic {
     font-family: "Sansita", sans-serif;
     font-weight: 700;
     font-style: italic;
 }

 .sansita-extrabold-italic {
     font-family: "Sansita", sans-serif;
     font-weight: 800;
     font-style: italic;
 }

 .sansita-black-italic {
     font-family: "Sansita", sans-serif;
     font-weight: 900;
     font-style: italic;
 }

 /* contactus */


 .socialmedia {
     color:var(--colortwo);
 }

 /* blogs images style */
 .blogitems {
     margin-top: 11%;
 }

 .blogcon {
     color:var(--colortwo);
 }

 .blogdate {
     color:var(--colorone);
 }

 .namee {
     color:var(--colorone);
 }

 .imgg img {
     width: 100%;
     height: 100px;
     object-fit: cover;
 }

 .p-1 {
     padding: 5px;
 }
 /* footer end */